<div class="img_container">
  <img class="img-responsive" ng-src="{{ info.series_img }}" alt="" >
</div>
<h2 class="series">{{ info.series }}</h2>
<p class="genre">{{ info.genre }}</p>
<p class="run-start">{{ info.run_start }}</p>
<p class="description">{{ info.description }}</p>
